---
import { Image } from "astro:assets";
import BaseHead from "../components/BaseHead.astro";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import { SITE_DESCRIPTION, SITE_TITLE } from "../consts";
import blogImage from "../assets/blog-placeholder-1.jpg";
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header />
    <main>
		<h1>Henry Lefebvre</h1>
		<p>Not to be confused with <i>Henri Lefebvre</i>, the French Marxist philosopher. I'm a software developer, photographer, and amateur boulderer.</p>
		<p>He's dead.</p>

		<h2>Hiring</h2>
		<p>I'm currently open to new job opportunities! If you're interested in working with me, please <a href="/about#contact">get in touch</a>.</p>
    </main>
    <!-- <Footer /> -->
  </body>
</html>
