---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
---

<Layout title="Henry Lefebvre">
  <main>
    <h1>
      <span class="text-gradient">Henry Lefebvre</span>
    </h1>
    <p class="instructions">
      Hey there! 👋 I'm an Honours Computer Science student at
      <a href="https://www.mcgill.ca" class="text-gradient strong"
        >McGill University!</a
      > You can check out some of my projects below or <a
        href="/henry-lefebvre-resume.pdf"
        class="text-gradient strong">read my resume</a
      > for the gist.
    </p>
    <ul role="list" class="link-card-grid">
      <Card
        href="https://github.com/thabnir/apartmatch"
        title="ApartMatch"
        body="AI-powered Apartment-hunting website created with Flask. First Place at MAIS Hacks 2023."
      />
      <Card
        href="https://github.com/thabnir/langsonic"
        title="LangSonic"
        body="Convolutional Neural Network designed for rapid multilingual speech classification."
      />
      <Card
        href="https://github.com/thabnir/stockbro.ai"
        title="stockbro.ai"
        body="Fun and informative AI stock advice site made with Flask. Best Newbie Hack at McHacks 10."
      />
      <Card
        href="https://github.com/thabnir/cookcheap"
        title="CookCheap"
        body="AI-powered grocery-hunting Flask website created for McGill CodeJam 13."
      />
      <Card
        href="https://github.com/thabnir/minimal-tetris"
        title="minimal-tetris"
        body="Elegant desktop Tetris app. Recognized among Best Projects at McGill Projects Showcase."
      />
      <Card
        href="https://github.com/thabnir/yt_txt"
        title="yt_txt"
        body="Practical Python CLI tool to transcribe YouTube audio with Whisper ASR."
      />
      <Card
        href="/henry-lefebvre-resume.pdf"
        title="Résumé"
        body="Download my résumé for more details. (In beautiful LaTeX!)"
      />
      <Card
        href="https://www.linkedin.com/in/henry-lefebvre/"
        title="LinkedIn"
        body="Connect with me on LinkedIn!"
      />
      <style>
        main {
          margin: auto;
          padding: 1.5rem;
          max-width: 60ch;
        }
        h1 {
          font-size: 3rem;
          font-weight: 800;
          margin: 0;
        }

        .hidden-text {
          display: none;
        }

        p:hover + .hidden-text {
          display: block;
        }

        .text-gradient {
          background-image: var(--accent-gradient);
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          background-size: 400%;
          background-position: -400%;
          opacity: 0.7;
          transition: opacity 0.3s;
        }

        .text-gradient:hover {
          animation: hov 0.3s;
          opacity: 1;
        }

        @keyframes hov {
          0% {
            opacity: 0.7;
          }
          100% {
            opacity: 1;
          }
        }

        .text-gradient.strong {
          font-weight: 800;
        }

        .de-emphasize {
          color: darkgray;
        }

        .instructions {
          line-height: 1.6;
          margin: 1rem 0;
          border: 1px solid rgba(var(--accent), 25%);
          background-color: white;
          padding: 1rem;
          border-radius: 0.4rem;
        }
        .instructions code {
          font-size: 0.875em;
          font-weight: bold;
          background: rgba(var(--accent), 12%);
          color: rgb(var(--accent));
          border-radius: 4px;
          padding: 0.3em 0.45em;
        }
        .instructions strong {
          color: rgb(var(--accent));
        }
        .link-card-grid {
          display: grid;
          grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
          gap: 1rem;
          padding: 0;
        }
      </style>
    </ul>
  </main>
</Layout>
