---
import { Image } from "astro:assets";
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import { SITE_DESCRIPTION, SITE_TITLE } from "../consts";
import { Icon } from "astro-icon/components";
const props = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header />
    <main>
      <h2>Hi, I'm a Software Developer</h2>
      <p>
        My name is Henry Lefebvre.<br />
        Don't confuse me with <i><a
          href="https://en.wikipedia.org/wiki/Henri_Lefebvre" class="
          hover-picture">Henri Lefebvre</a></i>, the Marxist philosopher.<br />
        He's old, dead, and doesn't know <a href="/blog/typescript">the first thing about Typescript.</a><br />
        I'm young, alive, and seeking employment after graduation.<br />
        To get in touch, <a href="mailto:henrylefeb@gmail.com">email me</a> or <a
          href="https://www.linkedin.com/in/henry-lefebvre/"
          >message me on LinkedIn.</a
        >
      </p>
      <h4>
        <a href="/henry-lefebvre-resume.pdf" class="download-link">
          <Icon name="material-symbols:download" />
          <span>Download Resume</span>
        </a>
      </h4>
    </main>
  </body>
</html>
