---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
---

<Layout title="Hire Me">
  <main>
    <h1>
      <span class="text-gradient">henry lefebvre's</span> very cool website
    </h1>
    <p class="instructions">
      i am a student who goes to
      <strong><a href="https://www.mcgill.ca/">mcgill university</a>.</strong> i
      have made <span class="de-emphasize"></span>
      <span class="text-gradient strong"
        ><a href="https://github.com/thabnir">some pretty cool projects</a
        ></span
      > and my goal is to <span class="text-gradient strong"
        >get a job this summmer.</span
      >
    </p>
    <ul role="list" class="link-card-grid">
      <Card
        href="https://github.com/thabnir/minimal-tetris"
        title="i know kotlin and java"
        body="This minimal tetris clone I made is pretty sweet. It's written in Kotlin and uses Swing for the UI."
      />
      <Card
        href="https://github.com/thabnir/stockbro.ai"
        title="python too"
        body="This financial analysis website I made with Flask won Best Newbie Hack at McHacks 10."
      />
      <Card
        href="https://github.com/thabnir/thabnir.github.io"
        title="i made this website"
        body="I made it using Astro. Look at the fancy hover effects!"
      />
      <Card
        href="https://www.shutterstock.com/image-photo/portrait-smiling-young-college-student-600w-1192615495.jpg"
        title="and i get good grades"
        body="I have a 3.93 GPA, and I'm taking relevant CS courses."
      />
      <Card
        href="https://www.linkedin.com/in/henry-lefebvre/"
        title="here's my linkedin"
        body="I'm very professional."
      />
      <Card
        href="/resume.pdf"
        title="and my resume"
        body="I have SO many skills."
      />
      <style>
        main {
          margin: auto;
          padding: 1.5rem;
          max-width: 60ch;
        }
        h1 {
          font-size: 3rem;
          font-weight: 800;
          margin: 0;
        }

        .hidden-text {
          display: none;
        }

        p:hover + .hidden-text {
          display: block;
        }

        .text-gradient {
          background-image: var(--accent-gradient);
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          background-size: 400%;
          background-position: 0%;
        }

        .text-gradient:hover {
          animation: gradient 2s ease;
        }

        @keyframes gradient {
          0% {
            background-position: 0%;
          }
          50% {
            background-position: 100%;
          }
          100% {
            background-position: 0%;
          }
        }

        .text-gradient.strong {
          font-weight: 800;
        }

        .de-emphasize {
          color: darkgray;
        }

        .instructions {
          line-height: 1.6;
          margin: 1rem 0;
          border: 1px solid rgba(var(--accent), 25%);
          background-color: white;
          padding: 1rem;
          border-radius: 0.4rem;
        }
        .instructions code {
          font-size: 0.875em;
          font-weight: bold;
          background: rgba(var(--accent), 12%);
          color: rgb(var(--accent));
          border-radius: 4px;
          padding: 0.3em 0.45em;
        }
        .instructions strong {
          color: rgb(var(--accent));
        }
        .link-card-grid {
          display: grid;
          grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
          gap: 1rem;
          padding: 0;
        }
      </style>
    </ul>
  </main>
</Layout>
