---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
---

<Layout title="Henry Lefebvre">
  <main>
    <h1>
      <span class="text-gradient">Henry Lefebvre</span>
    </h1>
    <p class="instructions">
      I am an Honours Computer Science student who goes to
      <span class="text-gradient strong"
        ><a href="https://www.mcgill.ca">McGill University.</a></span
      >
      I have a
      <span class="text-gradient strong"
        ><a href="https://github.com/thabnir">GitHub</a></span
      > where I host my Java, Kotlin, Python, C, and C++ code.
    </p>
    <ul role="list" class="link-card-grid">
      <Card
        href="https://github.com/thabnir/minimal-tetris"
        title="minimal-tetris"
        body="This minimalist tetris clone I made on the bus won $10. I wrote it in Kotlin with Swing for the GUI."
      />
      <Card
        href="https://github.com/thabnir/stockbro.ai"
        title="stockbro.ai"
        body="This fun AI stock market analysis app I made with Flask won Best Newbie Hack at McHacks 10."
      />
      <Card
        href="https://github.com/thabnir/thabnir.github.io"
        title="This Website"
        body="I made it using Astro. Just look at those hover effects!"
      />
      <Card
        href="https://www.shutterstock.com/image-photo/portrait-smiling-young-college-student-600w-1192615495.jpg"
        title="My Grades"
        body="A 3.93 GPA with loads of relevant CS and math courses."
      />
      <Card
        href="/henry-lefebvre-resume.pdf"
        title="My Résumé"
        body="In PDF form, no less."
      />
      <Card
        href="https://www.linkedin.com/in/henry-lefebvre/"
        title="My LinkedIn"
        body="The height of professionalism."
      />
      <style>
        main {
          margin: auto;
          padding: 1.5rem;
          max-width: 60ch;
        }
        h1 {
          font-size: 3rem;
          font-weight: 800;
          margin: 0;
        }

        .hidden-text {
          display: none;
        }

        p:hover + .hidden-text {
          display: block;
        }

        .text-gradient {
          background-image: var(--accent-gradient);
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          background-size: 400%;
          background-position: 0%;
        }

        .text-gradient:hover {
          animation: gradient 2s ease;
        }

        @keyframes gradient {
          0% {
            background-position: 0%;
          }
          50% {
            background-position: 100%;
          }
          100% {
            background-position: 0%;
          }
        }

        .text-gradient.strong {
          font-weight: 800;
        }

        .de-emphasize {
          color: darkgray;
        }

        .instructions {
          line-height: 1.6;
          margin: 1rem 0;
          border: 1px solid rgba(var(--accent), 25%);
          background-color: white;
          padding: 1rem;
          border-radius: 0.4rem;
        }
        .instructions code {
          font-size: 0.875em;
          font-weight: bold;
          background: rgba(var(--accent), 12%);
          color: rgb(var(--accent));
          border-radius: 4px;
          padding: 0.3em 0.45em;
        }
        .instructions strong {
          color: rgb(var(--accent));
        }
        .link-card-grid {
          display: grid;
          grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
          gap: 1rem;
          padding: 0;
        }
      </style>
    </ul>
  </main>
</Layout>
